


.footer-container {
    width: 100%;
}

.footer-main {
    /* background-color: red; */
    max-width: 1000px;
    height: 180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-main .icons {
    margin: 60px auto 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.footer-main .icons i {
    color: var(--text-color-main);
    margin: 0;
    transition: ease 300ms;
}

.footer-main .icons i:hover {
    color: var(--text-color-special);
}

.footer-main h5 {
    font-weight: 400;
    font-size: 0.9em;
}

.footer-main h5 span {
    font-weight: 800;
    transition: ease 300ms;
}

.footer-main h5 span:hover {
    color: var(--text-color-special);
}