.top-text {
    font-size: 15px;
    /* font-weight: 600; */
    fill: var(--text-color-main);
    z-index: 1000;
}

text {
    font-size: 0.65rem;
    fill: var(--text-color-main);
}

.pizza {
    border: 2px solid white;
}

.legend-text {
    font-size: 0.75rem;
    fill: var(--text-color-main);
}