.stats-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stats-main {
    margin: auto 30px;
    width: 1000px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 60px 6px 40px 6px;
}

.charts-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    row-gap: 20px;
    column-gap: 20px;
}

.chart-container {
    background-color: var(--bg-color-alt2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: ease 300ms;
}

/* .chart-container:hover {
    background-color: var(--bg-color-alt);
} */

.chart-main {
    /* min-height: 300px; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-title {
    color: var(--text-color-alt);
    margin: 0;
    font-size: 1.2rem;
}

.fa-spinner{
    animation-iteration-count: infinite;
    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes rotation {
    100% {transform: rotate(360deg)}
}
